@import "normalize.css";

body { background-color: #333;}

#aside {
	position: fixed; top: 0; right: -612px; width: 612px; background-color: #fff; transition: right ease 1s;
	&.show {
		right: 0;
	}
}